
{% extends "Personas/padre.html" %}
{% load static %}

{% block titulo %}
<title>Historia del mundial</title>
{% endblock %}

{% block contenidoQueCambia %}

<h5 style="padding: 20px ;">
      <br>
            La Copa Mundial de Fútbol se celebró por primera vez en 1930, cuando la FIFA, 
      el organismo rector del fútbol mundial, decidió organizar un torneo 
      internacional de fútbol masculino bajo la administración del presidente de la FIFA Jules Rimet, 
      quien implementó esta idea. La edición inaugural, celebrada en 1930, 
      fue disputada como un torneo final de solo 13 equipos invitados por la organización. 
      Desde entonces, la Copa del Mundo ha experimentado sucesivas expansiones y remodelaciones de formato, 
      con su actual torneo final de 32 equipos precedido por un proceso de calificación de dos años, 
      que involucra a más de 200 selecciones nacionales de todo el mundo.
</h5>

{% endblock %}